@media (max-width:800px) { /* 모바일용 */
.pc { display:none !important; }

header .wrap {width: 100%;}
header .wrap h1 {font-size: 18px; font-weight: 600; color: #222; background: #fff; height: 100px; display: flex; justify-content: flex-end; border-bottom: 1px solid #222;}
header .wrap h1 a img {position: static; left: auto;}
header .wrap h1 a:nth-of-type(1) img {position: absolute; left: 20px; top: 35px; height: 30px;}
header .wrap h1 a:nth-of-type(2) img {position: absolute; right: 30px; top: 30px; height: 40px;}
header video {position: absolute; width: 100vw; top: 100px; z-index: -1; height: 500px; object-fit: cover;}

#main .wrap {width: auto; background: url(../images/12.09/sub_vi.jpg) no-repeat center/cover; height: 110px;}
#main .wrap p {position: absolute; left: 42%; top: 50px; font-size: 22px; font-weight: 700;}

#sub1 .wrap {width: 100%; height: 520px; color: #222; background: #fff; display: flex; flex-direction: column; align-items: center;}
#sub1 .wrap h3 {position: static; top: auto; left: auto; font-size: 20px; line-height: 1.6; font-weight: 900; text-align: center; padding-top: 50px;}
#sub1 .wrap p {position: static; top: auto; right: auto; width: 80%; font-size: 16px; line-height: 1.8; padding-top: 30px;}
	
#sub2 .wrap {width: 100%; height: 300px; display: flex; justify-content: flex-start;}

#sub3 .wrap {background: #fff; height: 600px; display: flex; flex-direction: column; align-items: center;}
#sub3 .wrap h3 {position: static; top: auto; left: auto; font-size: 20px; line-height: 1.6; font-weight: 900; width: 90%; padding-top: 50px;}
#sub3 .wrap p {position: static; top: auto; right: auto; width: 80%; font-size: 16px; line-height: 1.8; padding-top: 30px;}
#sub3 .wrap p span {color: #000; font-weight: 600;}
	
#sub4 .wrap {width: 100%; height: 300px; display: flex; justify-content: flex-end;}
#sub4 .wrap .blank {width: 30%; height: 800px; background: #fff;}

#sub5 .wrap {height: 800px; display: flex; flex-direction: column; align-items: center;}
#sub5 .wrap p {position: static; top: auto; left: auto; width: 80%; font-size: 16px; padding-top: 40px;}
#sub5 .wrap img {position: absolute; top: 500px; right: 0; width: 100%;}

footer {height: 180px; background: #f6f6f6;}
footer .wrap {width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
footer .wrap img {position: static; width: 200px; padding-top: 30px;}
footer .wrap address {position: static; padding-top: 30px; line-height: 1.6; font-size: 12px; font-weight: 600; color: #666;}
}











@media (min-width:801px) { /* PC용 */
.mob { display:none !important; }    
    
} 